[server]
listen=0.0.0.0:7890
pid=/tmp/fastagi.pid

[php]
display_errors=1
error_reporting=E_ALL
date.timezone=America/Buenos_Aires

[application]
bootstrap=/PAGI/docs/examples/quickstart/MyPAGIApplication.php
class=MyPAGIApplication
log4php=/tmp/log4php.properties
